.bg-image{
    background-image: url('../../../images/pexels-ahmed-muntasir-912050.jpg');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
    width:100vw;
    height:100vh;
  }

