
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text{
  @apply text-blue-500 transform -translate-y-10 -translate-x-2 scale-75;
}

@layer components{
  .pagesLinks{
    @apply my-2 text-sm font-bold text-center px-2 tracking-wide 
  }
  .btnProduct{
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded uppercase
  }
  .centered{
    @apply flex justify-center items-center
  }

}

.bg-img{
  background-image: url('../../../images/pexels-ahmed-muntasir-912050.jpg');
  background-repeat: no-repeat;
  height:100vh;
}













